body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px;
}

.buttons {
    margin: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff5733;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    background: white;
    margin: 10px;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    height: 70%;
}